# Habilitar el módulo de reescritura
RewriteEngine On

# Si el directorio o archivo solicitado existe, servir directamente
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Redirigir todas las peticiones a index.php
RewriteRule ^(.+)$ index.php?url=$1 [QSA,L]